

* {
	margin: 0;
	box-sizing: border-box;
	
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFFF;
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: #626875;
	margin-bottom: 1rem;
}

#new_task_form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new_task_input {
	flex: 1 1 0%;
	background-color: #161d27;
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: #EEE;
	font-size: 1.25rem;
}

/* #new_task_input::placeholder {
	color: #626875;
} */

#new_task_submit {
	color: #fc4ea5;
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, #fc4ea5, #8857fb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new_task_submit:hover {
	opacity: 0.7;
}

#new_task_submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.tasklist {
	padding: 1rem;
}

.tasklist h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: #626875;
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: #0b1019;
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: #EEE;
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: #fc4ea5;
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .complete {
	background-image: linear-gradient(to right, #ee278b, #2e078b);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.completed {
	text-decoration: line-through;
	opacity: 0.5;
  }

.task .actions .edit {
	background-image: linear-gradient(to right, #fc4ea5, #8857fb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: rgb(246, 27, 71);
}